<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Web application </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Web Application</a>
</nav>
<div class="container mt-5">
    <h1>Bienvenue dans la Poro page</h1>

    <blockquote class="blockquote text-center">
        <p class="mb-0">Poros are the mysterious, magical, and much-loved creatures seemingly originating from the
            Freljord Crest
            Freljord.They have since spread across all of Runeterra,
            being present on every known continent, in every region and nation.</p>
        <footer class="blockquote-footer">Wiki <cite title="Source Title">League Of Legend</cite></footer>
    </blockquote>

    <img src="/static/assets/poro.gif" class="rounded mx-auto d-block"/>
</div>


<div class="text-center">
    <button id="poroButton" class="btn btn-primary">Afficher Poro</button>
</div>

<div id="poroGif" class="text-center" style="display: none;">
    <img src="/static/assets/petitporo.gif" class="rounded mx-auto d-block w-25"/>
</div>
</div>

{% for user in users %}
{{ user.name }} – {{ user.email }} <br>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    var isPoroShown = false;

    $('#poroButton').click(function () {
        if (isPoroShown) {
            $('#poroGif').hide();
            isPoroShown = false;
            $('#poroButton').text('Afficher Poro');
        } else {
            $('#poroGif').show();
            isPoroShown = true;
            $('#poroButton').text('Masquer Poro');
        }
    });
</script>
</body>
</html>
